<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.das.mapper.DepartmentsMapper">

    <select id="findAll" resultType="com.das.entity.Department">
        select * from department limit #{param1}, #{param2}
    </select>

    <select id="findById" resultType="com.das.entity.Department" parameterType="int">
        select * from department where id = #{id}
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*) from department
    </select>

    <insert id="add" parameterType="com.das.entity.Department" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into department (name, principal_name, principal_telephone, principal_email, principal_title, principal_office_telephone)
        VALUES (#{name},#{principal_name},#{principal_telephone},#{principal_email},#{principal_title},#{principal_office_telephone})
    </insert>

    <update id="update" parameterType="com.das.entity.Department" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        update department set name=#{name},principal_name=#{principal_name},principal_telephone=#{principal_telephone},
                              principal_email=#{principal_email},principal_title=#{principal_title},
                              principal_office_telephone=#{principal_office_telephone} where id=#{id}
    </update>

</mapper>