<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.das.mapper.SysInfoWithNameMapper">

    <select id="findAll" resultType="com.das.entity.SysInfoWithName">
        select * from sys_info_with_name limit #{param1}, #{param2}
    </select>

    <select id="findById" resultType="com.das.entity.SysInfoWithName" parameterType="java.lang.Integer">
        select * from sys_info_with_name where id = #{id}
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*) from sys_info_with_name
    </select>

    <select id="findByState" resultType="com.das.entity.SysInfoWithName">
        select * from sys_info_with_name where review_state=#{param1} limit #{param2},#{param3}
    </select>

    <select id="countByState" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        select count(*) from sys_info_with_name where review_state = #{review_state}
    </select>
</mapper>