<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.das.mapper.SysInfoWithNameMapper">

    <select id="findAll" resultType="com.das.entity.SysInfoWithName">
        select * from sys_info_with_name limit #{param1}, #{param2}
    </select>

    <select id="findById" resultType="com.das.entity.SysInfoWithName" parameterType="java.lang.Integer">
        select * from sys_info_with_name where id = #{id}
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*) from sys_info_with_name
    </select>

    <select id="findByState" resultType="com.das.entity.SysInfoWithName">
        select * from sys_info_with_name where review_state=#{param1} limit #{param2},#{param3}
    </select>

    <select id="countByState" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        select count(*) from sys_info_with_name where review_state = #{review_state}
    </select>

    <select id="findByInfo" resultType="com.das.entity.SysInfoWithName">
        select * from sys_info_with_name
        <where>
            <if test="param3 != null">
                grade_protect_level = ${param3}
            </if>
            <if test="param4 != null and '%%'!=param4 ">
                and name like #{param4}
            </if>
            <if test="param5!=null and param6!=null">
                and date(import_time) between #{param5} and #{param6}
            </if>
            <if test="param7!=null and param8!=null">
                and date(pass_time) between #{param7} and #{param8}
            </if>
            <if test="param9!=null">
                and importer_id = #{param9}
            </if>
            and (review_state = 2 or review_state = 3)
        </where>
        limit #{param1},#{param2}
    </select>

    <select id="countByInfo" resultType="java.lang.Integer">
        select count(*) from sys_info_with_name
        <where>
            <if test="param3 != null">
                grade_protect_level = ${param3}
            </if>
            <if test="param4 != null and '%%'!=param4 ">
                and name like #{param4}
            </if>
            <if test="param5!=null and param6!=null">
                and date(import_time) between #{param5} and #{param6}
            </if>
            <if test="param7!=null and param8!=null">
                and date(pass_time) between #{param7} and #{param8}
            </if>
            <if test="param9!=null">
                and importer_id = #{param9}
            </if>
            and (review_state=2 or review_state=3)
        </where>
    </select>

    <select id="countByImporter" resultType="java.lang.Integer">
        select count(*) from sys_info_with_name
        where importer_id = #{importer_id} and (review_state = 1 or review_state = 2)
        group by review_state
    </select>
</mapper>